<div class="posts-wrapper">
  <div class="post">
    <div class="post-head">
      <div class="thumb-img">
      </div>
      <div class="user-name">
        <%= post.user.username %>
      </div>
      <div class="time-ago">
        <%= time_ago_in_words(post.created_at) %> ago
      </div>
    </div>
    <div class="image center-block">
      <%= link_to image_tag(post.image.url(:medium), class: 'img-responsive'), post_path(post) %>
    </div>
    <div class="post-bottom">
      <div class="caption">
        <div class="caption-content">
          <div class="user-name">
            <%= post.user.username %>
          </div>
          <div class="user-caption">
            <%= post.caption %>
          </div>
        </div>
      </div>
      <% if post.comments %>
        <div id="comments_<%= post.id %>">
          <% post.comments.each do |comment| %>
            <div class="comment" id="comment_<%= comment.id %>">
              <div class="user-name">
                <%= comment.user.username %>
              </div>
              <div class="comment-content">
                <%= comment.content %>
                <% if current_user.id == comment.user_id %>
                  <%= link_to post_comment_path(post,comment), class: 'comment-delete', method: :delete, data: {confirm: 'Are you sure?' } do %>
                    <i class="glyphicon glyphicon-remove-sign"></i>
                  <% end %>
                <% end %>
              </div>
              <div class="clearfix"></div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="comment-like-form row">
      <div class="like-button col-sm-1">
        <span class="glyphicon glypihicon-heart-empty"></span>
      </div>
      <div class="comment-form col-sm-11">
        <%= render partial: 'comment_form', locals: { post: post } %>
      </div>
    </div>
