<div class="posts-wrapper">
  <div class="post" id="post_<%= post.id %>">
    <div class="post-head">
      <div class="thumb-img">
      </div>
      <div class="user-name">
        <%= link_to post.user.username, profile_path(post.user.username) %>
      </div>
      <div class="time-ago">
        <%= time_ago_in_words(post.created_at) %> ago
      </div>
    </div>
    <div class="image center-block">
      <%= link_to image_tag(post.image.url(:medium), class: 'img-responsive'), post_path(post) %>
    </div>
    <div class="post-bottom">
      <div class="likes_<%= post.id %>">
        <%= render 'posts/likes', {post: post} %>
      </div>
      <div class="caption">
        <div class="caption-content">
          <div class="user-name">
            <%= post.user.username %>
          </div>
          <div class="user-caption">
            <%= post.caption %>
          </div>
        </div>
      </div>
        <% if post.comments %>
        <hr class='comments-break'>
          <div class="comments" id="comments_<%= post.id %>">
            <% if post.comments.count > 3 %>
              <%= link_to "Show All", post_comments_path(post), remote: true, class: "show-comments-post-#{post.id}" %>
            <% end %>
            <%= render post.comments.last(3), locals: { post: post } %>
          </div>

        <% end %>
    <div class="comment-like-form row">

      <div class="col-sm-1">
        <%= render 'posts/like_button', {post: post} %>
      </div>

      <div class="comment-form col-sm-11">
        <%= form_for([post, post.comments.build], remote: true) do |f| %>
          <div class="form-group">
            <%= f.text_field :content, placeholder: 'Add a comment...', class: "comment_content", id: "comment_content_#{post.id}" %>
          </div>
          <div class="form-group text-center">
            <%= f.submit "Submit", class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
